@charset "utf-8";
@import "mixin";


// Board
//
// 게시판에 사용되는 style 정의 입니다.
//
// Styleguide 5.

// 게시판 목록
//
// Styleguide 5.1

// board-headline-v1
//
// 헤드라인 게시물입니다.
//
// Markup:
// <div class="board-headline-v1">
//     <div class="board-headline-v1__item">
//         <div class="board-headline-v1__img-wrap">
//             <a href="#" class="link"><img src="https://i.ytimg.com/vi/-IHVEL40kig/hqdefault.jpg" alt="" class="board-headline-v1__img"></a>
//         </div>
//         <div class="board-headline-v1__txt-wrap">
//             <div class="board-headline-v1__tit"><a href="" class="link">유럽 류마티스학회 공식 프로그램에서 임상결과 발표 유럽 류마티스학회 공식 프로그램에서 임상결과 발표 유럽 류마티스학회 공식 프로그램에서 임상결과 발표</a></div>
//             <div class="board-headline-v1__edge">2015.08.08</div>
//             <div class="board-headline-v1__summary">
//                 세계 최초 항체 바이오시밀러 ‘램시마(Remsima)’가 국내에서 본격적인 판매에 들어갔다. 램시마의 국내판매를 맡고 있는 셀트리온제약은 지난 11월 2일 오후 서울 밀레니엄힐튼호텔에서 류마티스 내과 전문의 대상으로 ‘램시마’ 발매를 기념하는 학술심포지엄을 열었다. 이번 심포지엄에서는 임상 1, 3상 시험 결과와 생물학적동등성시험 결과가 발표됐다. 인하대의대 박원교수, 한양대의대 유대현 교수 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한 성황리에 진행됐다. 세계 최초 항체 바이오시밀러 ‘램시마(Remsima)’가 국내에서 본격적인 판매에 들어갔다. 램시마의 국내판매를 맡고 있는 셀트리온제약은 지난 11월 2일 오후 서울 밀레니엄힐튼호텔에서 류마티스 내과 전문의 대상으로 ‘램시마’ 발매를 기념하는 학술심포지엄을 열었다. 이번 심포지엄에서는 임상 1, 3상 시험 결과와 생물학적동등성시험 결과가 발표됐다. 인하대의대 박원교수, 한양대의대 유대현 교수 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한 성황리에 진행됐다.
//             </div>
//         </div>
//     </div>
// </div><!-- //board-headline-v1 -->
//
// Styleguide 5.1.1

.board-headline-v1 { overflow:hidden; margin-bottom:20px; line-height:1.5; color:$black-body; font-size:13px;
	&__item { }
	&__img-wrap { overflow:hidden; float:left; position:relative; width:320px; height:180px; border:1px solid #dedfde; margin-right:30px; }
	&__txt-wrap { overflow:hidden; height:180px; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
	&__tit { overflow:hidden; margin-bottom:5px; font-size:24px; color:$black-tit; font-weight:$bold; line-height:1.3; white-space:nowrap; text-overflow:ellipsis; }
	&__edge { color:#999; }
	&__summary { clear:both; overflow:hidden; height:8.25em; margin-top:20px; line-height:1.65; @include line-clamp(5,1.65); }
	@media only screen and (max-width:$mobile-size) {
		&__img-wrap { float:none; width:auto; height:0; margin-right:0; margin-bottom:10px; padding-bottom:56.2%; }
		&__txt-wrap { height:auto; }
		&__img { width:100%; }
		&__tit { font-size:15px; margin-bottom:10px; }
		&__summary { @include line-clamp(6,1.5); margin-top:10px; line-height:1.5; height:auto; max-height:9em; }
	}
}

// board-headline-v2
//
// 동영상, 브로슈어 게시판의 헤드라인 게시물입니다.<br>
// 동영상, 브로슈어 게시판 3단 비율과 동일 비율 유지하기 위해 %로 작업되어 있습니다. (동영상 영역 66%, 컨텐츠 영역 33%)
//
// .board-headline-v2_another    - 높이가 더 높은 브로슈어 게시판에 사용되는 추가 class 입니다.
//
// Markup:
// <div class="board-headline-v2 {$modifiers}">
//     <div class="board-headline-v2__item">
//         <div class="board-headline-v2__img-wrap">
//             <div class="board-headline-v2__wrap">
//                 <iframe width="660" height="380" src="https://www.youtube.com/embed/Kg0e26Bop-g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen class="board-headline-v2__img board-headline-v2__img_video"></iframe>
//             </div>
//         </div>
//         <div class="board-headline-v2__txt-wrap scroll-v1">
//             <div class="board-headline-v2__tit">유럽 류마티스학회 공식 프로그램에서 임상결과 발표 유럽 류마티스학회 공식 프로그램에서 임상결과 발표 유럽 류마티스학회 공식 프로그램에서 임상결과 발표</div>
//             <div class="board-headline-v2__edge">2015.08.08</div>
//             <div class="board-headline-v2__summary scroll-v1">
//                 세계 최초 항체 바이오시밀러 ‘램시마(Remsima)’가 국내에서 본격적인 판매에 들어갔다. 램시마의 국내판매를 맡고 있는 셀트리온제약은 지난 11월 2일 오후 서울 밀레니엄힐튼호텔에서 류마티스 내과 전문의 대상으로 ‘램시마’ 발매를 기념하는 학술심포지엄을 열었다. 이번 심포지엄에서는 임상 1, 3상 시험 결과와 생물학적동등성시험 결과가 발표됐다. 인하대의대 박원교수, 한양대의대 유대현 교수 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한 성황리에 진행됐다. 세계 최초 항체 바이오시밀러 ‘램시마(Remsima)’가 국내에서 본격적인 판매에 들어갔다. 램시마의 국내판매를 맡고 있는 셀트리온제약은 지난 11월 2일 오후 서울 밀레니엄힐튼호텔에서 류마티스 내과 전문의 대상으로 ‘램시마’ 발매를 기념하는 학술심포지엄을 열었다. 이번 심포지엄에서는 임상 1, 3상 시험 결과와 생물학적동등성시험 결과가 발표됐다. 인하대의대 박원교수, 한양대의대 유대현 교수 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한 성황리에 진행됐다.
//             </div>
//         </div>
//     </div>
// </div><!-- //board-headline-v2 -->
//
// Styleguide 5.1.2

.board-headline-v2 { overflow:hidden; position:relative; color:$black-body; line-height:1.5; margin-bottom:50px;
	$this:&;
	&_another { }
	&__item { margin-left:-20px; }
	@include img-wrap();
	&__img-wrap { float:left; -webkit-box-sizing:border-box; box-sizing:border-box; width:66.66%; height:380px; margin-right:20px; padding-left:20px;
		#{$this}_another & { height:480px; }
	}
	&__wrap { position:relative;height:100%;
		iframe { position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; margin:auto; }
	}
	&__txt-wrap { overflow:auto; display:block; @include flexbox; @include flex-direction(column); height:380px;
		#{$this}_another & { height:480px; }
	}
	&__tit { font-size:20px; color:$black-tit; font-weight:$bold; }
	&__edge { margin-top:5px; color:#999; }
	&__summary { overflow:auto; margin-top:30px; text-align:justify; }
	&__btn { display:block; color:$black-body; text-decoration:none; margin-top:40px;
		&>span { -webkit-box-sizing:border-box; box-sizing:border-box; display:table-cell; width:1%; height:40px; border:1px solid #ddd; text-align:center; vertical-align:middle; }
	}
	@media only screen and (max-width:$tablet-size) { margin-bottom:25px;
		&__item { margin-left:0; }
		&__img-wrap { float:none; width:auto; height:0; padding-bottom:57.62%; margin-right:0; padding-left:0;
			#{$this}_another & { height:0; padding-bottom:75%; }
		}
		&__txt-wrap { height:auto; margin-top:15px;
			#{$this}_another & { height:auto; }
		}
		&__wrap { position:static; }
		&__tit { font-size:13px; }
		&__summary { height:9em; margin-top:15px; }
		&__btn { margin-top:20px; }
	}
}

// board-list-v1
//
// 반응형 게시판 목록입니다.
//
// #### 테이블 셀 관련 class
//
// * .board-list-v1__td_align-left : 좌측정렬
// * .board-list-v1__td_wrap : 줄바꿈 방지 해제
// * .board-list-v1__td_break-all : 어간 줄바꿈 해제
//
// #### 반응형 관련 class
//
// * .board-list-v1__m-hide : 모바일 변환 시 디자인 숨김
// * .board-list-v1__m-tit : 모바일 전환 시 제목 디자인 적용
// * .board-list-v1__m-left : 모바일 전환 시 왼측으로 적용
// * .board-list-v1__m-right : 모바일 전환 시 오른측으로 적용
//
// Markup:
// <table class="board-list-v1 board-recruit">
//     <colgroup>
//         <col class="board-recruit__num">
//         <col class="board-recruit__section">
//         <col class="board-recruit__title">
//         <col class="board-recruit__date">
//         <col class="board-recruit__state">
//     </colgroup>
//     <thead>
//         <tr>
//             <th class="board-list-v1__th" scope="col">번호</th>
//             <th class="board-list-v1__th" scope="col">구분</th>
//             <th class="board-list-v1__th" scope="col">제목</th>
//             <th class="board-list-v1__th" scope="col">게시일</th>
//             <th class="board-list-v1__th" scope="col">진행사항</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td class="board-list-v1__td board-list-v1__m-hide">10</td>
//             <td class="board-list-v1__td board-list-v1__m-hide">셀트리온 그룹</td>
//             <td class="board-list-v1__td board-list-v1__td_wrap board-list-v1__m-tit board-list-v1__td_align-left"><a href="#" class="bbs-link board-list-v1__link">제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다.</a></td>
//             <td class="board-list-v1__td board-list-v1__m-left" data-title="게시일 : ">2015.08.08~2016.01.25</td>
//             <td class="board-list-v1__td board-list-v1__m-right" data-title="진행사항 : ">채용</td>
//         </tr>
//         <tr>
//             <td class="board-list-v1__td board-list-v1__m-hide">10</td>
//             <td class="board-list-v1__td board-list-v1__m-hide">셀트리온 그룹</td>
//             <td class="board-list-v1__td board-list-v1__td_wrap board-list-v1__m-tit board-list-v1__td_align-left"><a href="#" class="bbs-link board-list-v1__link">제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다. 제목을 클릭하면 상세보기 페이지로 전환됩니다.</a></td>
//             <td class="board-list-v1__td board-list-v1__m-left" data-title="게시일 : ">2015.08.08~2016.01.25</td>
//             <td class="board-list-v1__td board-list-v1__m-right" data-title="진행사항 : ">채용</td>
//         </tr>
//     </tbody>
// </table><!-- //board-list-v1 -->
//
// Styleguide 5.1.3

.board-list-v1 { width:100%; border-collapse:collapse; border-top:2px solid #8C8A8D; border-bottom:1px solid #8c8a8c; white-space:nowrap; line-height:1.5;
	&__th { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; padding:5px 10px; border-bottom:1px solid #8c8a8c; text-align:center; font-weight:$bold; }
	&__td { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; padding:5px 10px; border-top:1px solid #dedfde; text-align:center; text-overflow:ellipsis; color:$black-body;
		&_align-left { text-align:left; }
		&_wrap { white-space:normal;}
		&_break-all { word-break:break-all;}
	}
	&__link { display:inline-block; text-overflow:ellipsis; vertical-align:middle; height:1.5em; white-space:normal; overflow:hidden; color:inherit; text-decoration:none;
		&:hover,
		&:focus  { text-decoration:underline; }
	}
	@media only screen and (max-width:$tablet-size) {
		display:block; position:relative; border-top-width:1px;
		&:before { position:absolute; z-index:10; top:0; left:0; right:0; border-top:1px solid #8C8A8D; content:''; }
		thead, tbody, tr { display:block; }
		tr { overflow:hidden; position:relative; }
		&__th { display:none; }
		&__td { height:auto; padding:10px 0; font-size:12px;
			&[data-title]:before {  content:attr(data-title); }
		}
		&__m-hide { display:none; }
		&__m-tit { float:left; width:100%; display:block; font-weight:$bold; font-size:13px; }
		&__m-left { float:left; display:block; margin-top:-3px; padding-top:0px; border:none; }
		&__m-right { float:right; display:block; margin-top:-3px; padding-top:0px; border:none; }
		&__link {
			&:before { position:absolute; top:0; left:0; right:0; bottom:0; content:''; }
			&:hover,
			&:focus  { text-decoration:none; }
		}
	}
}

// board-list-v2
//
// 반응형 게시판 목록입니다.
//
// #### 테이블 셀 관련 class
//
// * .board-list-v1__td_align-left : 좌측정렬
// * .board-list-v1__td_wrap : 줄바꿈 방지 해제
// * .board-list-v1__td_break-all : 어간 줄바꿈 해제
//
// #### 반응형 관련 class
//
// * .board-list-v1__m-hide : 모바일 변환 시 디자인 숨김
// * .board-list-v1__m-tit : 모바일 전환 시 제목 디자인 적용
// * .board-list-v1__m-left : 모바일 전환 시 왼측으로 적용
// * .board-list-v1__m-right : 모바일 전환 시 오른측으로 적용
//
// Markup:
// <ul class="board-list-v2">
//     <li class="board-list-v2__item board-list-v2__item_notice">
//         <div class="board-list-v2__header">
//             <div class="board-list-v2__cell">
//                 <p class="board-list-v2__tit"><a href="" class="board-list-v2__link link">화장품업체 인수 보도 관련 답변</a></p>
//             </div>
//             <div class="board-list-v2__cell board-list-v2__cell_edge">2015.08.08</div>
//         </div>
//         <div class="board-list-v2__body">
//             <div class="board-list-v2__cell">
//                 <p class="board-list-v2__summary">5월31일 셀트리온의 화장품업체 인수 보도와 관련하여 주주님들의 문의가 많아 다음과 같이 알려드립니다. 당사는 화장품 업체 인수보도가 사실 무근임을 조회공시를 통해 답변하였습니다.</p>
//             </div>
//             <div class="board-list-v2__cell board-list-v2__cell_edge">
//                 <a href="" class="board-list-v2__btn">Download <i class="ico-set ico-set_download-v1"></i></a></i>
//             </div>
//         </div>
//     </li>
//     <li class="board-list-v2__item">
//         <div class="board-list-v2__header">
//             <div class="board-list-v2__cell">
//                 <p class="board-list-v2__tit"><a href="" class="board-list-v2__link link">화장품업체 인수 보도 관련 답변 화장품업체 인수 보도 관련 답변 화장품업체 인수 보도 관련 답변 화장품업체 인수 보도 관련 답변하였습니다화장품업체 인수 보도 관련 답변화장품업체 인수 보도 관련 답변하였습니다 화장품업체 인수 보도 관련 답변화장품업체 인수 보도 관련 답변</a></p>
//             </div>
//             <div class="board-list-v2__cell board-list-v2__cell_edge">2015.08.08</div>
//         </div>
//         <div class="board-list-v2__body">
//             <div class="board-list-v2__cell">
//                 <p class="board-list-v2__summary">5월31일 셀트리온의 화장품업체 인수 보도와 관련하여 주주님들의 문의가 많아 다음과 같이 알려드립니다. 당사는 화장품 업체 인수보도가 사실 무근임을 조회공시를 통해 답변하였습니다. 5월31일 셀트리온의 화장품업체 인수 보도와 관련하여 주주님들의 문의가 많아 다음과 같이 알려드립니다. 당사는 화장품 업체 인수보도가 사실 무근임을 조회공시를 통해 답변하였습니다.</p>
//             </div>
//             <div class="board-list-v2__cell board-list-v2__cell_edge">
//                 <a href="" class="board-list-v2__btn">Download <i class="ico-set ico-set_download-v1"></i></a></i>
//             </div>
//         </div>
//     </li>
// </ul><!-- //board-list-v2 -->
//
// Styleguide 5.1.4

.board-list-v2 { margin:0; padding:0; list-style:none; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	$this:&;
	&__item { border-top:1px solid #dedfde;
		&:first-child { border-top:none; }
		&_notice { }
	}
	&__header { padding:15px 20px;
		#{$this}__item_notice &:before { display:table-cell; width:1%; padding:0 5px; border-radius:3px; background-color:$purple; color:#fff; content:'공지'; font-size:12px; vertical-align:middle; }
	}
	&__body { padding:12px 20px; border-top:1px dashed #dedfde; }
	&__cell { display:table-cell; vertical-align:middle;
		&_edge { width:1%; padding-left:10px; }
	}
	&__tit { margin:0; color:$black-tit; height:1.3em; overflow:hidden; @include line-clamp(1,1.3);
		#{$this}__item_notice & { font-weight:$bold; margin-left:5px; }
	}
	&__summary { overflow:hidden; height:3em; margin:0; line-height:1.5; vertical-align:middle; @include line-clamp(2,1.5) }
	&__btn { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:120px; height:30px; padding:6px 0; border:1px solid #ddd; background-color:#fff; text-align:center; text-decoration:none; color:inherit; }
	@media only screen and (max-width:$mobile-size) { font-size:12px;
		&__header { padding:8px 0;
			#{$this}__item_notice &:before { font-size:11px; }
		}
		&__body { padding:5px 0; }
		&__link { width:100%; }
	}
}

// board-magazine-v1
//
// 매거진형 게시판 목록입니다.
//
// Markup:
// <ul class="board-magazine-v1">
//     <li class="board-magazine-v1__item">
//         <a href="" class="board-magazine-v1__link">
//             <div class="board-magazine-v1__img-wrap">
//                 <img src="http://www.samsung.com/sec/consumer/images/pdp-wow/kitchen-appliances/refrigerators/fsr/RF90J9072XL/images/02_1280/02_00_kv_1280.jpg" alt="" class="board-magazine-v1__img">
//             </div>
//             <div class="board-magazine-v1__txt-wrap">
//                 <div class="board-magazine-v1__tit">세계 최초 항체 바이오시밀러 허가 획득</div>
//                 <div class="board-magazine-v1__edge">2015.08.08</div>
//                 <div class="board-magazine-v1__summary">
//                     국내 대표 바이오기업인 셀트리온은 금일 식품의약품안전청(KFDA)으로부터 자가면역질환 항체치료제 ‘램시마(Remsima)’의 제품 허가를 받았다. 이는 글로벌 임상결과를 근거로 국가별 의약품 규제기관으로부터 제품 허가를 획득한 세계 최초의 항체 바이오시밀러다. 이번 제품 허가는 항체 바이오시밀러 시장의 개막을 알리는 신호탄이며, 셀트리온이 ... 바이오시밀러 ....선도기업으로 성장할 수 있는 기반이 될 것으로 평가되고 있다. [출처] 셀트리온, 세계 최초 항체 바이오시밀러 허가 획득|작성자 hopyeong6200... ... 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한... 성황리에 진행됐다.
//                 </div>
//             </div>
//         </a>
//     </li>
//     <li class="board-magazine-v1__item">
//         <a href="" class="board-magazine-v1__link">
//             <div class="board-magazine-v1__img-wrap">
//                 <img src="http://food.chosun.com/site/data/img_dir/2013/11/20/2013112002224_1.jpg" alt="" class="board-magazine-v1__img">
//             </div>
//             <div class="board-magazine-v1__txt-wrap">
//                 <div class="board-magazine-v1__tit">세계 최초 항체 바이오시밀러 허가 획득</div>
//                 <div class="board-magazine-v1__edge">2015.08.08</div>
//                 <div class="board-magazine-v1__summary">
//                     국내 대표 바이오기업인 셀트리온은 금일 식품의약품안전청(KFDA)으로부터 자가면역질환 항체치료제 ‘램시마(Remsima)’의 제품 허가를 받았다. 이는 글로벌 임상결과를 근거로 국가별 의약품 규제기관으로부터 제품 허가를 획득한 세계 최초의 항체 바이오시밀러다. 이번 제품 허가는 항체 바이오시밀러 시장의 개막을 알리는 신호탄이며, 셀트리온이 ... 바이오시밀러 ....선도기업으로 성장할 수 있는 기반이 될 것으로 평가되고 있다. [출처] 셀트리온, 세계 최초 항체 바이오시밀러 허가 획득|작성자 hopyeong6200... ... 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한... 성황리에 진행됐다.
//                 </div>
//             </div>
//         </a>
//     </li>
// </ul><!-- //board-magazine-v1 -->
//
// Styleguide 5.1.5

.board-magazine-v1 { margin:0; padding:0; list-style:none; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.5;
	&__item { border-top:1px solid #dedfde;
		&:first-child { border-top:none; }
	}
	&__link { overflow:hidden; display:block; padding:20px 0; color:$black-body; text-decoration:none;
		&:hover {

		}
	}
	&__img-wrap { overflow:hidden;float:left; position:relative; width:200px; height:100px; border:1px solid #dedfde; margin-right:35px; }
	&__txt-wrap { overflow:hidden; position:relative; height:100px; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
	&__tit { display:table-cell; padding-bottom:15px; font-size:16px; color:$black-tit; font-weight:$bold; }
	&__edge { display:table-cell; width:1%; padding-left:10px; color:#999; text-align:right; }
	&__summary { clear:both; overflow:hidden; max-height:4.5em; text-align:justify; @include line-clamp(3,1.5); position:static; }
	@media only screen and (max-width:$mobile-size) { line-height:1.3;
		&__link { padding-top:15px; padding-bottom:15px; }
		&__img-wrap { width:100px; height:50px; margin-right:10px; }
		&__txt-wrap { height:50px;
			&:after { display:none; }
		}
		&__tit { overflow:hidden; display:block; position:relative; height:2.6em; padding-bottom:0; font-size:13px; @include line-clamp(2,1.3); }
		&__edge { display:block; position:absolute; bottom:-3px; left:0; width:auto; padding-left:0; font-size:12px; }
		&__summary { display:none; }
	}
}

// board-gallery-v1
//
// 갤러리형 게시판 입니다.
//
// 모바일 화면 전환시 세로형태로 변형됩니다.
//
// Markup:
// <ul class="board-gallery-v1">
//     <li class="board-gallery-v1__item">
//         <a href="" class="board-gallery-v1__link">
//             <div class="board-gallery-v1__img-wrap">
//                 <img src="http://thumb.mt.co.kr/06/2016/01/2016012011121309932_1.jpg" alt="" class="board-gallery-v1__img">
//             </div>
//             <div class="board-gallery-v1__txt-wrap">
//                 셀트리온 ‘램시마’ 수출 본격화...3분기 누적 지난해
//             </div>
//         </a>
//     </li>
//     <li class="board-gallery-v1__item">
//         <a href="" class="board-gallery-v1__link">
//             <div class="board-gallery-v1__img-wrap">
//                 <img src="http://thumb.mt.co.kr/06/2016/01/2016012011121309932_1.jpg" alt="" class="board-gallery-v1__img">
//             </div>
//             <div class="board-gallery-v1__txt-wrap">
//                 셀트리온 ‘램시마’ 수출 본격화 셀트리온 ‘램시마’ 수출 본격화 셀트리온 ‘램시마’ 수출 본격화 셀트리온 ‘램시마’ 수출 본격화
//             </div>
//         </a>
//     </li>
//     <li class="board-gallery-v1__item">
//         <a href="" class="board-gallery-v1__link">
//             <div class="board-gallery-v1__img-wrap">
//                 <img src="http://thumb.mt.co.kr/06/2016/01/2016012011121309932_1.jpg" alt="" class="board-gallery-v1__img">
//             </div>
//             <div class="board-gallery-v1__txt-wrap">
//                 셀트리온 ‘램시마’ 수출 본격화...3분기 누적 지난해
//             </div>
//         </a>
//     </li>
// </ul><!-- //board-gallery-v1 -->
//
// Styleguide 5.1.6

.board-gallery-v1 { overflow:hidden; position:relative; margin:0 0 0 -20px; padding:0; list-style:none; color:$black-body; line-height:1.3;
	&:before { display:block; margin-left:20px;border-top:1px solid #ddd; content:'' }
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:33.33333%; margin-top:30px; padding-left:20px; }
	&__link { overflow:hidden; display:block; text-decoration:none; color:inherit; }
	&__img-wrap { -webkit-box-sizing:border-box; box-sizing:border-box; height:0; padding-bottom:56.25%; border:1px solid #ddd; }
	@include img-wrap;
	&__txt-wrap { overflow:hidden; margin-top:15px; white-space:nowrap; text-overflow:ellipsis; }
	@media only screen and (max-width:$mobile-size) { margin-left:0; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c;
		&:before { display:none; }
		&__item { float:none; width:auto; margin-top:0; padding:15px 0; border-top:1px solid #dedfde;
			&:first-child { border-top:none; }
		}
		&__img-wrap { float:left; width:87px; height:50px; margin-right:10px; padding-bottom:0; }
		&__txt-wrap { overflow:hidden; margin-top:0; @include line-clamp(2,1.5); height:3em; line-height:1.5; font-weight:$bold; }
	}
}


// Pagination
//
// Styleguide 5.2

// pagination-v1
//
// 공통으로 사용되는 반응형 페이징입니다.<br>
// 기본 `margin-top:40px`이 적용되어 있습니다.
//
// Markup:
// <div class="pagination-v1">
//     <div class="pagination-v1__info"><span class="pagination-v1__location">1</span>/10</div>
//     <span class="pagination-v1__group pagination-v1__group_prev">
//         <a href="#" class="pagination-v1__item pagination-v1__item_home">처음</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_prev">10페이지 이전</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_before">이전</a>
//     </span>
//     <span class="pagination-v1__group">
//         <a href="#" class="pagination-v1__item">1</a>
//         <a href="#" class="pagination-v1__item">2</a>
//         <a href="#" class="pagination-v1__item on">3</a>
//         <a href="#" class="pagination-v1__item">4</a>
//         <a href="#" class="pagination-v1__item">5</a>
//         <a href="#" class="pagination-v1__item">6</a>
//         <a href="#" class="pagination-v1__item">7</a>
//         <a href="#" class="pagination-v1__item">8</a>
//         <a href="#" class="pagination-v1__item">9</a>
//         <a href="#" class="pagination-v1__item">10</a>
//     </span>
//     <span class="pagination-v1__group pagination-v1__group_next">
//         <a href="#" class="pagination-v1__item pagination-v1__item_after">다음</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_next">10페이지 다음</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_end">마지막</a>
//     </span>
// </div><!-- //pagination-v1 -->
//
// Styleguide 5.2.1

.pagination-v1 { overflow:hidden; position:relative; margin-top:40px; text-align:center; font-size:0;
	&__info { display:none; line-height:34px; color:#999; font-size:13px; }
	&__location { color:$black-tit;}
	&__group { display:inline-block; text-align:center; vertical-align:middle; }
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; min-width:34px; height:34px; margin:0 4px; border:1px solid #e6e6e6; font-size:12px; color:#999; text-decoration:none; line-height:32px;
		&.on { border-color:#8c8a8c; background-color:#8c8a8c; color:#fff; }
		@mixin ico ($position) { overflow:hidden; position:relative; width:34px; text-indent:-1000em;
			&:before { position:absolute; top:0; left:0; right:0; bottom:0; width:11px; height:9px; margin:auto; @include background-image-retina('../images/module/pagination-v1-ico','png',22px,18px); background-repeat:no-repeat; background-position:$position; content:''; }
		}
		&_home { @include ico(0 0) }
		&_end { @include ico(100% 100%) }
		&_before { display:none; @include ico(100% 0) }
		&_after { display:none; @include ico(0 100%) }
		&_prev { @include ico(100% 0) }
		&_next { @include ico(0 100%) }
	}
	@media only screen and (max-width:$mobile-size) {
		margin-top:20px;
		&__info { position:absolute; top:0; left:0; right:0; display:block; }
		&__group { display:none; position:relative; z-index:10;
			&_prev { display:block; float:left; margin-left:-4px; }
			&_next { display:block; float:right; margin-right:-4px; }
		}
		&__item { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; min-width:34px; height:34px; margin:0 4px; border:1px solid #e6e6e6; font-size:12px; color:#999; text-decoration:none; line-height:32px;
			&_before,
			&_after { display:inline-block; }
			&_prev,
			&_next { display:none; }
		}
	}
}

// 게시판 상세
//
// Styleguide 5.3

// board-view-v1
//
// Markup:
// <div class="board-view-v1">
//     <div class="board-view-v1__header">
//         <h2 class="board-view-v1__tit">세계 최초 항체 바이오시밀러 ‘램시마’ 국내 본격 시판</h2>
//         <div class="board-view-v1__etc board-view-v1__etc_l">첨부파일 : <a href="" class="link">2015 실적보고서_문서자료.pdf</a></div>
//         <div class="board-view-v1__etc board-view-v1__etc_r">2015.08.07</div>
//     </div>
//     <div class="board-view-v1__body">
//         램시마의 약가는 병당 37만892원이며, 이를 류마티스관절염 환자(체중60kg)의 치료비로 환산하면 경쟁 항체의약품에 비해 35~40%에 해당하는 저렴한 가격이다. 지금까지 국내에서는 환자의 경제적인 사정과 까다로운 건강보험급여조건으로 인해 전체 류마티스 환자의 1%미만이 항체의약품의 혜택을 보고 있다. 이는 영국(14.9%) 독일(13.1%) 등 선진국 수준에 비해 현저히 낮은 수준이다. 셀트리온제약은 한국의료지원재단과 환자 의료비 지원 프로그램을 통해 경제적인 이유로 항체의약품을 사용하지 못하는 환자들을 위해 약제비를 최대 50%까지 지원, 항체의약품에 대한 환자들의 접근성을 넓혀나갈 예정이다.
//     </div>
//     <div class="board-view-v1__footer">
//         <div class="board-view-v1__prev"><a href="#" class="link">다음글이 없습니다.다음글이 없습니다.다음글이 없습니다.다음글이 없습니다.다음글이 없습니다.</a></div>
//         <div class="board-view-v1__next"><a href="#" class="link">다음글이 없습니다.</a></div>
//     </div>
// </div><!-- //board-view-v1 -->
//
// Styleguide 5.3.1

.board-view-v1 { border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	&__header { border-bottom:1px solid #dedfde; @include block; }
	&__body { padding:30px 50px; text-align:justify; line-height:1.6;
		img, object,embed { max-width:100%; }
		p { margin:0; }
		&+.social-group { margin-top:0; }
	}
	&__footer { border-top:1px solid #8c8a8c;
		.social-group+& { margin-top:30px; }
	}
	&__tit { border-bottom:1px solid #8c8a8c; margin:0 0 -1px 0; padding:14px 10px; font-size:16px; line-height:1.3125; color:$black-tit;}
	&__etc { margin-top:1px; padding:17px 10px;
		&_l { float:left; }
		&_r { float:right; }
	}
	&__prev,
	&__next { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; position:relative; height:50px; padding:17px 10px 17px 50px; white-space:nowrap; text-overflow:ellipsis;
		&:before { position:absolute; top:0; bottom:0; left:20px; width:12px; height:7px; margin:auto; @include background-image-retina('../images/module/board-view-v1-ico','png',12px,14px); background-repeat:no-repeat; content:''; }
	}
	&__next { border-top:1px solid #dedfde;
		&:before { background-position:0 -7px; }
	}

	@media only screen and (max-width:$mobile-size) {
		&__body { padding:15px 0; }
		&__tit { font-size:13px; padding:6px 0; line-height:1.3; }
		&__etc { padding:7px 0; font-size:12px; }
		&__prev,
		&__next { height:30px; padding:6px 10px 6px 30px;
			&:before { left:10px; }
		}
	}
}

// 게시판 버튼
//
// Styleguide 5.4

// board-btn-wrap
//
// 게시판 상세에 사용되는 버튼 영역입니다.
//
// Markup:
// <div class="board-btn-wrap board-btn-wrap_next">
//     <a href="" class="btn-v1 btn-v1_w180"><span>목록</span></a>
// </div><!-- //board-btn-wrap -->
//
// Styleguide 5.4.1

.board-btn-wrap { text-align:right;
	&_next { margin-top:30px; }
	@media only screen and (max-width:$mobile-size) {
		&_next { margin-top:15px; }
	}
}

// 게시판 검색
//
// Styleguide 5.5

// board-search-v1
//
// Markup:
// <div class="board-search-v1">
//     <label class="radio-set-v1"><input type="radio" name="aaa" class="radio-set-v1__input" checked><i class="radio-set-v1__ico"></i> 제목</label>
//     <label class="radio-set-v1"><input type="radio" name="aaa" class="radio-set-v1__input"><i class="radio-set-v1__ico"></i> 내용</label>
//     <input type="text" name="" id="" class="input-v1 board-search-v1__input" title="검색어를 입력해주세요."><input type="image" src="../../images/module/board-search-v1-btn-submit@2x.png" alt="검색" class="board-search-v1__submit">
// </div><!-- //board-search-v1 -->
//
// Styleguide 5.5.1

.board-search-v1 { margin-bottom:15px; text-align:right;
	&__input { width:330px; margin-left:10px; -webkit-transition:width .5s; transition:width .5s; }
	&__submit { margin-left:-1px; width:32px; height:32px; }
	@media only screen and (max-width:$mobile-size) {
		&__input { width:120px; }
	}
}
