@charset "utf-8";
@import "mixin";

// Module
//
// 전역으로 사용되는 모듈형식의 style 정의 입니다.
//
// Styleguide 3.

// Icon
//
// Styleguide 3.1

// ico-set
//
// 이미지 스프라이트 기법으로 작성된 class입니다.
//
// .ico-set_arr-r1    - 오른쪽 방향 1
// .ico-set_arr-r2    - 오른쪽 방향 2
// .ico-set_download-v1	- 다운로드
//
// Markup:
// <a class="btn-v2"><span>More <i class="ico-set {$modifiers}"></i></span></a>
//
// Styleguide 3.1.1

.ico-set {
	&:before { display:inline-block; @include background-image-retina('../images/common/ico-set','png',100px,50px); vertical-align:middle; content:''; }
	&_arr-r1 {
		&:before { width:6px; height:10px; background-position:0 -10px; margin-top:-2px; }
	}
	&_arr-r2 {
		&:before { width:6px; height:5px; }
	}
	&_download-v1 {
		&:before { width:17px; height:14px; background-position:-10px 0; margin-top:-2px; }
	}
}

// Title
//
// Styleguide 3.2

// tit-v1
//
// 소제목에 해당되는 class 입니다.
//
// Markup:
// <h2 class="tit-v1">램시마</h2>
// <h2 class="tit-v1 {$modifiers}">허쥬마</h2>
//
// .tit-v1_next    - 특정 요소 다음에 오는 경우
//
// Styleguide 3.2.1

.tit-v1 { margin:0 0 15px 0; font-weight:$bold; font-size:24px; line-height:1.1;
	&_next { margin-top:40px; }
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:8px; font-size:15px;
		&_next { margin-top:20px; }
	}
}

// Paragraph
//
// Styleguide 3.3

// para-v1
//
// 단락에 해당되는 class입니다.
//
// Markup:
// <p class="para-v1">셀트리온의 사업목표는 무한한 도전정신 없이는 달성하기 어려운 것이며, 셀트리온 임직원은 모든 일을 함에 있어서 불굴의 도전정신을 가지고 업무에 임한다.</p>
// <p class="para-v1 {$modifiers}">셀트리온의 사업은 국내시장이 아닌 세계시장이며, 세계적인 기업과의 경쟁에서 이기기 위해 모든 임직원은 세계제일주의 사고와 그에 부흥하는 실력을 갖추어야 한다.</p>
//
// .para-v1_next    - 특정 요소 다음에 오는 경우
// .para-v1_dot    - 블릿이 있는 경우
//
// Styleguide 3.3.1

.para-v1 { margin:0; line-height:1.5; color:$black-body;
	&_next { margin-top:20px; }
	&_dot{position:relative; display:inline-block; padding-left:1em;
		&:before{position: absolute; margin-left: -1em; content: '-';}
	}
	@media only screen and (max-width:$tablet-size) {
		font-size:12px;
		&_next { margin-top:15px; }
	}
}

.para-v2 { margin:0; line-height:1.5; color:#8c8a8c; font-size:12px; }

// Button
//
// Styleguide 3.4

// btn-v1
//
// 게시판 및 서식영역에 사용되는 버튼 class입니다.
//
// .btn-v1_w180    - 너비가 180px 버튼
// .btn-v1_w200    - 너비가 200px 버튼
// .btn-v1_negative    - 취소버튼
//
// Markup:
// <a class="btn-v1 {$modifiers}"><span>문의하기</span></a>
// <button class="btn-v1 {$modifiers}"><span>문의하기</span></button>
//
// Styleguide 3.4.1

.btn-v1 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; height:50px; padding:0 10px; margin:0; border:2px solid #3f3f3f; background-color:#fff; color:#3f3f3f; font-size:16px; font-weight:$bold; cursor:pointer; vertical-align:middle; text-align:center;
	&+& { margin-left:6px; }
	&_w180 { width:180px; }
	&_w200 { width:200px; }
	&_negative { border:1px solid #e7e3e7; background-color:#f9f9f9; }
	@media only screen and (max-width:$mobile-size) {
		height:40px;
		&_w180 { width:90px; }
		&_w200 { width:100px; }
	}
}
a.btn-v1 { text-decoration:none;
	&>span { display:table-cell; vertical-align:middle; height:46px; }
	&[class*='btn-v1_w']>span { width:1%; }
	@media only screen and (max-width:$mobile-size) {
		&>span { height:36px; }
	}
}
button.btn-v1{
	&:active>span,
	&:focus>span { position:relative; left:0; top:0; }
}

// btn-v2
//
// 컨텐츠 내 사용되는 버튼 class입니다.
//
// Markup:
// <a class="btn-v2"><span>more</span></a>
// <button class="btn-v2"><span>more</span></button>
//
// Styleguide 3.4.2

.btn-v2 { display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:5px 12px; border:1px solid #9e9e9e; background-color:#fff;  font-size:13px; color:$black-tit; text-transform:uppercase; text-decoration:none; line-height:1.3; font-weight:$bold; vertical-align:middle; cursor:pointer;
	@media only screen and (max-width:$mobile-size) {
		font-size:12px;
	}
}
a.btn-v2 {
	&>span { display:table-cell; vertical-align:middle; }
	&[class*='btn-v1_w']>span { width:1%; }
}
button.btn-v2{
	&:active>span,
	&:focus>span { position:relative; left:0; top:0; }
}

// Tab
//
// Styleguide 3.5

// tab-v1
//
// 간단한 스크립트와 작동되는 반응형 디자인 탭입니다.
//
// Markup:
// <div class="tab-v1">
//     <button type="button" title="같은 레벨 메뉴 보기" class="tab-v1__btn-toggle tabBtn">현재가</button>
//     <ul class="tab-v1__list">
//         <li class="tab-v1__item on"><a href="#" class="tab-v1__link">현재가</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">시간대별</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">일자별</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">차트분석</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">지수정보</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">외국인 지분동향</a></li>
//     </ul>
// </div><!-- //tab-v1 -->
// <br>
// <div class="tab-v1">
//     <button type="button" title="같은 레벨 메뉴 보기" class="tab-v1__btn-toggle tabBtn">1공장</button>
//     <ul class="tab-v1__list">
//         <li class="tab-v1__item on"><a href="#" class="tab-v1__link">1공장</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">2공장</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">사무동</a></li>
//     </ul>
// </div><!-- //tab-v1 -->
//<script type="text/javascript">
//	$(function(){
//		$('.tabBtn').on('click', function(){
//			if($(this).hasClass('open')){
//				$(this).next().slideUp().end().removeClass('open');
//			} else {
//				$(this).next().slideDown().end().addClass('open');
//			}
//		});
//	});
//</script>
//
// Styleguide 3.5.1

.tab-v1 {
	$this:&;
	$item:#{$this}__item;
	&__list { margin:0; padding:0; list-style:none; border-collapse:collapse; }
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; display:table-cell; width:1%; height:50px; border:1px solid #d5d5d5; background-color:#f8f8f8; color:$black-tit; font-size:16px; text-align:center; vertical-align:middle;
		&.on { border-top:none; border-bottom:none; background-color:#fff; }
	}
	&__link { -webkit-box-sizing:border-box; box-sizing:border-box; display:table-cell; width:1000px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle;
		#{$item}.on & { border-top:3px solid #222; padding-bottom:3px; font-weight:$bold; }
	}
	&__btn-toggle { display:none; cursor:pointer; }
	@media only screen and (max-width:$tablet-size) {
		&__list { display:none; position:absolute; z-index:500; }
		&__item { display:block; width:auto; height:40px; border-top:1px solid #fff; background-color:#dcdcdc; font-size:16px; text-align:left;
			&:first-child { border-top:none; }
			&.on { border-top:1px solid #fff; background-color:#dcdcdc; }
		}
		&__link { padding:10px;
			#{$item}.on & { border-top:none; padding:10px; font-weight:$normal; }
		}
		&__btn-toggle { position:relative; -webkit-box-sizing:border-box; box-sizing:border-box; display:block; width:100%; height:40px; margin:0; padding:10px 36px 10px 10px; border:none; background-color:#222; color:#fff; font-size:16px; text-align:left;
			&:before,
			&:after { position:absolute; top:0; bottom:0; right:10px; height:0; margin:auto; border-width:8px 8px 0 8px; border-style:solid; content:'';  }
			&:before { border-color:#fff transparent transparent transparent;  }
			&:after { top:-4px; border-color:#222 transparent transparent transparent;  }
		}
	}
	@media only screen and (min-width:$tablet-size+1) {
		&__list { display:block !important; }
	}
}

// tab-v2
//
// radio 디자인형태의 탭입니다
//
// .tab-v2_next    - 특정 요소 다음에 오는 경우
//
// Markup:
// <ul class="tab-v2 {$modifiers}">
// 	<li class="tab-v2__item on"><a href="#" class="tab-v2__link">별도재무상태표</a></li>
// 	<li class="tab-v2__item"><a href="#" class="tab-v2__link">연결재무상태표</a></li>
// </ul><!-- //tab-v2 -->
//
// Styleguide 3.5.2

.tab-v2 { margin:0 0 0 -30px; padding:0; list-style:none; font-size:0;
	$this:&;
	$item:#{$this}__item;
	&_next { margin-top:30px; }
	&__item { display:table-cell; padding-left:30px; color:$black-body; font-size:14px; font-weight:$bold;
		&:first-child { margin-left:0; }
		&.on { color:$black-tit; }
		&:before { -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; z-index:-1; display:inline-block; width:16px; height:16px; margin-top:1px; border:1px solid #d2d2d2; border-radius:50%; background-color:#fff; content:''; vertical-align:middle; }
	}
	&__link { display:block; padding-left:20px; color:inherit; text-decoration:none;
		#{$item}.on &:before { position:absolute; width:6px; height:6px; margin:6px 0 0 -15px; border-radius:50%; background-color:#5f5f5f; content:''; }
	}
}

.edge-box { margin-bottom:5px; text-align:right; }

// List
//
// Styleguide 3.6

// dl-v1
//
// 서식양식에 사용되는 정의형 목록입니다.
//
// Markup:
// <dl class="dl-v1">
//    <dt class="dl-v1__dt">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
//    <dt class="dl-v1__dt">질문 ㅇㅇㅇㅇ</dt>
//    <dd class="dl-v1__dd">답변 ㅇㅇㅇㅇㅇㅇ</dd>
//    <dt class="dl-v1__dt">질문 ㅁㅁ</dt>
//    <dd class="dl-v1__dd">답변 ㅁㅁ</dd>
//    <dt class="dl-v1__dt dl-v1__dt_fixed">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
// </dl><!-- //dl-v1 -->
//
// Styleguide 3.6.1


.dl-v1 { margin:0; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c;
	&__dt { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; clear:left; padding:9px 20px 0 20px; border-top:1px solid #e7e3e7; line-height:32px; color:$black-tit; font-weight:$bold;
		&_fixed { float:none; }

	}
	&__dd { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:9px 20px; line-height:32px; border-top:1px solid #e7e3e7; color:$black-body; }
	&__dt:first-child,
	&__dt:first-child+&__dd,
	&__dd:first-child,
	&__dt_fixed+&__dd { border-top:none; }
	&__item { display:inline-block; vertical-align:top; }
	@media only screen and (max-width:$mobile-size) {
		&__dt { float:none; margin-right:0; padding:10px 0 0 0; border-top:1px solid #e7e3e7; line-height:1.3;
			&:first-child { border-top:none; }
		}
		&__dd { margin:5px 0; padding:0; border-top:none; }
		&__item { display:block;
			&+& { margin-top:5px; }
		}
	}
}

// 약관동의
//
// Markup:
// <div class="agree-box cscenter-agree-v1">
//     <h2 class="agree-box__tit">개인정보수집 및 이용 동의</h2>
//     <div class="agree-box__body">
//         <div class="agree-box__wrap cscenter-agree-v1__wrap" >
//            개인정보수집 및 이용 동의
//         </div>
//     </div>
//     <div class="agree-box__footer">
//         <label class="checkbox-set-v1"><input type="checkbox" name=""  class="checkbox-set-v1__input"><i class="checkbox-set-v1__ico"></i> 위 내용을 읽었으며 동의합니다.</label>
//     </div>
// </div><!-- //agree-box -->
//
// Styleguide 3.8

.agree-box { color:$black-tit; line-height:1.3;
	&__tit { margin:0 0 18px 0; font-size:16px; }
	&__body { padding:9px 14px; border:1px solid #dedfde; background-color:#fafafa; }
	&__footer { margin-top:15px; }
}

.agree-article { line-height:1.5; color:$black-body;
	&__tit { margin:0 0 9px 0; font-size:16px; color:$black-tit; line-height:1.1;
		&_next { margin-top:24px; }
	}
	&__para { margin:0;
		&_next { margin-top:24px; }
	}
	&__signature { font-weight:$bold; text-align:right; }
	strong { color:$black-tit; }
}
