@charset "utf-8";
@import "mixin";

// .main-videos { overflow:hidden; position:absolute; top:0; left:50%; width:2048px; height:100%; margin-left:-1024px;
//.main-videos { overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%;
.main-videos { overflow:hidden; position:absolute; top:0; left:-1000px; right:-1000px; height:100%; margin:auto;
	//&:after { z-index:100;  position:absolute; top:0; left:0; right:0; bottom:0; content:''; background-color:rgba(255,255,255,0.0); }
	iframe { position:absolute; top:0; left:-1000px; right:-1000px; width:100%; height:100%; margin:auto; }
	//video { position:absolute; left:-1000px; right:-1000px; height:100%; margin:auto; }
	video { width:100%; height:100%; }
	&__btn-skip { z-index:200; box-sizing:border-box;position:absolute; left:68px; right:0; bottom:50px; width:58px; height:58px; margin:auto; background-color:rgba(0,0,0,0.15); border:1px solid #fff; border:1px solid rgba(255,255,255,0.5); border-radius:50%; text-align:center; line-height:56px; color:#fff; font-family: 'Open Sans',sans-serif; text-decoration:none; font-size:16px; vertical-align:middle; }
	&__btn-ctrl { z-index:200; box-sizing:border-box; overflow:hidden; position:absolute; left:0; right:68px; bottom:50px; width:58px; height:58px; margin:auto; background-color:transparent; background-color:rgba(0,0,0,0.15); border:1px solid #fff; border:1px solid rgba(255,255,255,0.5); border-radius:50%; text-align:center; line-height:56px; color:#fff; text-decoration:none; text-indent:-999px; cursor:pointer;vertical-align:middle;
		&.is-play {
			&:before,
			&:after { position:absolute; top:0; bottom:0; left:0; right:0; width:3px; height:16px; margin:auto; border-radius:3px; background-color:#fff; content:''; }
			&:before { right:11px; }
			&:after { left:11px; }
		}
		&.is-pause {
			&:before { position:absolute; top:0; bottom:0; left:4px; right:0; width:0; height:0; margin:auto; border-width:9px 0 9px 14px; border-style:solid; border-color:transparent transparent transparent #fff; content:''; }
		}
	}
	&__img-wrap {
		position:absolute; top:0; left:0; right:0; bottom:0; background-color:red;
		img { width:100%; }
	}
	@media only screen and (max-width:$tablet-size) {
		display:none;
	}
}

.main-visual { width:400%; display:none; position:relative;
	&__item { float:left; width:25%; position:relative;	}
	&__visual {
		img { width:100%; }
	}
	&__copy { position:absolute; top:0; right:0; left:0; bottom:0; width:100%; height:150px; margin:auto; color:#fff; text-align:center; font-size:30px; text-shadow:0 0 2px rgba(0,0,0,0.5); font-family:'Open sans', sans-serif; line-height:1.1;
		p { display:table-cell; width:1%; height:150px; margin:0; vertical-align:middle; text-align:center; }
		strong { display:inline-block; line-height:1.3; font-size:50px; }
	}
	@media only screen and (max-width:$tablet-size) {
		display:block;
	}
	@media only screen and (max-width:$mobile-size) {
		&__copy { font-size:18px;
			strong { font-size:30px; }
		}
	}
}

.top-banner { overflow:hidden; position:relative; z-index:9000; height:150px; background-color:#222;
	&.off { display:none; }
	&+.wrapper { margin-top:150px; }
	&__wrap { position:absolute; width:1000px; left:0; right:0; bottom:15px; margin:auto; }
	&__list { position:relative; margin:0; padding:0; list-style:none; }
	&__item { overflow:hidden; position:relative; text-align:center; height:150px; }
	&__link { display:inline-block; position:absolute; top:0; left:-1000px; right:-1000px;
		&_d { display:block; }
		&_m { display:none; }
	}
	&__img { vertical-align:top; }
	&__btn-close-mini { position:absolute; bottom:0; right:0; color:#fff; text-decoration:none;
		&:after { display:inline-block; width:14px; height:14px; margin-left:5px; background:url(../images/main/banner-ico.png) no-repeat -50px 0; content:''; vertical-align: middle; }
	}
	&__btn-close-large { overflow:hidden; position:absolute; top:0; bottom:0; right:60px; width:32px; height:32px; margin:auto; background:url(../images/main/banner-ico.png) no-repeat; text-indent:-999em; }
	&__pagination { position:absolute; z-index:100; bottom:25px; left:0; right:0; height:0; font-size:0; text-align:center;
		button { overflow:hidden; margin:0 7px; display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; width:10px; height:10px; padding:0; border:2px solid #fff; border-radius:10px; background-color:#222; cursor:pointer; -webkit-transition: width 0.2s;
			&.active { width:25px; border-color:#44b134; background-color:#44b134; -webkit-transition: width 0.2s;}
		}
	}
	@media only screen and (max-width:$tablet-size) {
		height:100px;
		&+.wrapper { margin-top:0; }
		&__wrap { width:auto; }
		&__list { height:100px; }
		&__item { height:100px; }
		&__link {
			&_d { display:none; }
			&_m { display:block; }
		}
		&__img { height:100px; }
		&__btn-close-mini { right:12px; }
		&__btn-close-large { display:none; }
	}
}
