<div class="agree-article">
    주식회사 셀트리온(이하 “회사”)은 개인정보 보호법 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립·공개합니다.<br>
     <br>
     <br>
    <strong>제1조(개인정보의 처리목적)</strong> <br>
    <br>
    회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다. <br>
    1. 서비스 이용에 따른 본인 식별 및 실명 확인 <br>
    2. 제품관련 의학 정보 전달 및 제품투여관련 추가조사를 위한 의사소통 경로 확보 <br>
    3. 소비자 불만 사항에 대한 처리 <br>
    4. 제품 연구개발 및 개선 <br>
     <br>
     <br>
    <strong>제2조(개인정보의 처리 및 보유기간)</strong><br>
    <br>
    ① 회사는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다. <br>
    ② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다. <br>
    - 서비스 이용에 따른 본인 식별 및 실명 확인: 3년 <br>
    - 소비자 불만 또는 분쟁처리에 관한 기록: 분쟁처리 종료일로부터 5년 <br>
    - 제품관련 의학정보와 제품투여관련 사례: 5년 <br>
    - 제품 연구개발 및 개선: 목적 달성 시까지(제품 연구개발 및 개선의 경우 5년이 지난 후 개인을 특정할 수 없는 추상화된 정보만을 보유) <br>
     <br>
     <br>
    <strong>제3조(정보주체의 권리·의무 및 행사방법)</strong> <br>
    <br>
    ① 정보주체는 회사에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다. <br>
    1. 개인정보 열람요구 <br>
    2. 오류 등이 있을 경우 정정 요구 <br>
    3. 삭제요구 <br>
    4. 처리정지 요구  <br>
    ② 제1항에 따른 권리 행사는 회사에 대해 개인정보 보호법 시행규칙 별지 제8호 서식에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 회사는 이에 대해 지체 없이 조치하겠습니다. <br>
    ③ 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 회사는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다. <br>
    ④ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.<br>
     <br>
     <br>
    <strong>제4조(처리하는 개인정보 항목)</strong> <br>
    <br>
    회사는 다음의 개인정보 항목을 처리하고 있습니다. <br>
    1. 본인 확인 및 제품 관련 서비스 제공 <br>
    이름, 주소, 전화번호, 이메일 주소, 직업 <br>
    2. 그 외 인터넷을 통한 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다. <br>
    IP주소, 쿠키, MAC주소, 서비스 이용기록, 방문기록, 불량 이용기록 등 <br>
     <br>
     <br>
    <strong>제5조(개인정보의 파기)</strong> <br>
    <br>
    ① 회사는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다. <br>
    ② 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다. <br>
    ③ 개인정보 파기의 절차 및 방법은 다음과 같습니다. <br>
    1. 파기절차 <br>
    회사는 파기 사유가 발생한 개인정보를 선정하고, 회사의 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다. <br>
    2. 파기방법 <br>
    회사는 전자적 파일 형태로 기록·저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록·저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.<br>
      <br>
      <br>
    <strong>제6조(개인정보의 안전성 확보조치)</strong> <br>
    <br>
    회사는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다. <br>
    1. 관리적 조치: 내부관리계획 수립·시행, 정기적 직원 교육 등 <br>
    2. 기술적 조치: 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치 <br>
    3. 물리적 조치: 전산실, 자료보관실 등의 접근통제 <br>
     <br>
     <br>
    <strong>제7조(개인정보 보호책임자)</strong><br>
    <br>
    ① 회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다. <br>
    이름 : 권기성 <br>
    소속 : 경영지원 <br>
    연락처 : 032-850-5394, KiSung.Kwon@celltrion.com<br>
    ② 정보주체께서는 회사의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자에게 문의하실 수 있습니다. 회사는 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.<br>
     <br>
     <br>
    <strong>제8조(개인정보 처리방침 변경)</strong> <br>
    <br>
    ① 이 개인정보 처리방침은 2016. 4. 27 부터 적용됩니다.
</div><!-- //agree-article -->
