<div class="agree-article">
    01. 셀트리온은 당사에서 수행하는 수출입 관련 활동에 관한 법규준수와 수출입 안전관리 방침을 다음과 같이 규정한다. 본 방침은 출입 공급망의 무결성이 보장될 수 있도록 함과 아울러, 글로벌 경쟁력을 유지·강화를 위하여 제정 및 시행한다.<br>
    <br>
    02. 본 방침의 체계적인 이행을 위하여 수출입 법규준수 및 안전관리 현황을 지속적으로 검토하여 법규준수 및 수출입안전관리 목표를 설정한다.<br>
    <br>
    03. 법규준수 및 수출입안전관리 목표는 전사적으로 달성될 수 있도록 지속적으로 경영환경을 주시하고 내부 역량을 기울인다.<br>
    <br>
    04. 셀트리온은 수출입 안전관리 방침의 이행을 위하여 전 임직원 간 원활한 의사소통을 독려하여 전사적인 수출입 안전관리 기조가 정착되도록 한다.<br>
    <br>
    05. 전 임직원은 수출입 안전관리 의식 제고와 관련 업무에 적극 협력한다.<br>
    <br>
    06. 수출입 공급망 당사자들과의 상호협력을 통하여 셀트리온의 자산과 수출입물품의 안전성을 확보하고자 최선을 다하도록 한다.<br>
    <br>
    07. 셀트리온은 본 방침의 제정 및 시행을 통하여 글로벌 경쟁력을 갖춘 신뢰받는 세계적인 수출입기업으로 거듭나도록 각고의 노력을 다하도록 한다.<br>
    <br><br>
    <p class="agree-article__signature">
        셀트리온 대표이사 <img src="../../images/etc/agree-signature.png" alt="기우성, 김형기">
    </p>
</div><!-- //agree-article -->
