	<div class="footer" id="footer">
		<div class="footer__column">
			<div class="footer__wrap">
				<div class="category-menu">
					<h2 class="category-menu__tit">전체 메뉴</h2>
					<ul class="category-menu__list-d1">
						<li class="category-menu__item-d1">
							About Us
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">경영철학</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">CEO 인사말</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">사업전략</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">사업분야</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">사업역량</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">연혁소개</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">CI</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">파트너스</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							Biosimilar
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">바이오시밀러</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">바이오의약품</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">제네릭과 바이오시밀러</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							Products
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">허가제품</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">품질</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">생산설비</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">생산공정</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							R&amp;D
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">연구소</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">연구분야</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">연구성과</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">파이프라인</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">R&amp;D스토리</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1 category-menu__item-d1_4">
							IR
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">재무정보</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">주가정보</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">자료실</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">공고</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">공시</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							PR
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">회사소식</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">보도자료</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">홍보영상</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">디지털 브로슈어</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							Careers
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">인재상</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">복지제도</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">채용안내</a></li>
								<!-- <li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">직무소개</a></li> -->
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">입사지원</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">채용공고</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">Zoom 人 Celltrion</a></li>
							</ul>
						</li>
						<li class="category-menu__item-d1">
							CS Center
							<ul class="category-menu__list-d2">
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">고객센터</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">FAQ</a></li>
								<li class="category-menu__item-d2"><a href="" class="category-menu__link-d2">오시는 길</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- //category-menu -->
			</div>
		</div>
		<div class="footer__wrap">

			<div class="footer-logo">

			</div><!-- //footer-logo -->
			<div class="footer-menu">
				<h2 class="footer-menu__tit">하단메뉴</h2>
				<ul class="footer-menu__list">
					<li class="footer-menu__item"><a href="../etc/etc_001.html" class="footer-menu__link">법적고지</a></li>
					<li class="footer-menu__item"><a href="../etc/etc_002.html" class="footer-menu__link">개인정보취급방침</a></li>
					<li class="footer-menu__item"><a href="../etc/etc_003.html" class="footer-menu__link">수출입경영방침</a></li>
					<li class="footer-menu__item"><a href="../cscenter/cs_009.html" class="footer-menu__link">오시는 길</a></li>
					<!-- <li class="footer-menu__item"><a href="" class="footer-menu__link">사이트맵</a></li> -->
				</ul>
			</div><!-- //footer-menu -->

			<div class="address-copyright">
				<span class="address-copyright__item">인천광역시 연수구 아카데미로 23</span>
				<span class="address-copyright__item">전화 032-850-5000</span>
				<span class="address-copyright__item">Copyright&copy; 2015 Celltrion Inc. All rights reserved.</span>
			</div><!-- //address-copyright -->

			<div class="sns-menu">
				<h2 class="sns-menu__tit">SNS 메뉴</h2>
				<ul class="sns-menu__list">
					<li class="sns-menu__item sns-menu__item_facebook"><a href="" class="sns-menu__link">Facebook</a></li>
					<li class="sns-menu__item sns-menu__item_twitter"><a href="" class="sns-menu__link">Twitter</a></li>
					<li class="sns-menu__item sns-menu__item_linkedin"><a href="" class="sns-menu__link">LinkedIn</a></li>
					<li class="sns-menu__item sns-menu__item_youtube"><a href="" class="sns-menu__link">Youtube</a></li>
				</ul>
			</div><!-- //sns-menu -->

		</div>
	</div><!-- //footer -->
