<div class="social-group">
    이 내용 공유하기&nbsp;&nbsp;&nbsp;
    <a href="" class="social-group__link social-group__link_f">facebook</a>
    <a href="" class="social-group__link social-group__link_t">twitter</a>
    <a href="" class="social-group__link social-group__link_l">link in</a>
</div><!-- //social-group -->
