<div>
    <div class="careers-zoom-list-wrap" id="zoomList">
        <ul class="careers-zoom-list">
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide1">
                <a href="careers_006_02.html#slide1" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb01.jpg" alt="R&map;D 신약 - 감염질환 및 백신팀 김판겸 차장" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">R&amp;D 신약</p>
                        <p class="careers-zoom-list__team">감염질환 및 백신팀</p>
                        <p class="careers-zoom-list__name"><strong>김판겸</strong> 차장 <i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide2">
                <a href="careers_006_03.html#slide2" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb02.jpg" alt="R&amp;D 세포공정 - 세포배양공정팀 박성언 과장" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">R&amp;D 세포공정</p>
                        <p class="careers-zoom-list__team">세포배양공정팀</p>
                        <p class="careers-zoom-list__name"><strong>박성언</strong> 과장 <i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide3">
                <a href="careers_006_04.html#slide3" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb03.jpg" alt="생산 DS1 - 배양 2팀 손혁상 과장" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">생산 DS1</p>
                        <p class="careers-zoom-list__team">배양 2팀</p>
                        <p class="careers-zoom-list__name"><strong>손혁상</strong> 과장 <i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide4">
                <a href="careers_006_06.html#slide4" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb04.jpg" alt="품질 기술품질보증 - 품질컴플라이언스 1팀 이재훈 과장" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">품질 기술품질보증</p>
                        <p class="careers-zoom-list__team">품질컴플라이언스 1팀</p>
                        <p class="careers-zoom-list__name"><strong>이재훈</strong> 과장 <i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide5">
                <a href="careers_006_05.html#slide5" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb05.jpg" alt="국제허가 - 국제허가 1팀 오제석 대리" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">국제허가</p>
                        <p class="careers-zoom-list__team">국제허가 1팀</p>
                        <p class="careers-zoom-list__name"><strong>오제석</strong> 대리 <i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
            <li class="careers-zoom-list__item swiper-slide"  data-hash="slide6">
                <a href="careers_006_07.html#slide6" class="careers-zoom-list__link">
                    <div class="careers-zoom-list__img-wrap">
                        <img src="../../images/careers/zoom-thumb06.jpg" alt="법무 지식재산 - IP 전략팀 이미란 과장" class="careers-zoom-list__img">
                    </div>
                    <div class="careers-zoom-list__text-wrap">
                        <p class="careers-zoom-list__group">법무 지식재산</p>
                        <p class="careers-zoom-list__team">IP 전략팀</p>
                        <p class="careers-zoom-list__name"><strong>이미란</strong> 과장 <i class="ico-set ico-set_arr-r2"></i></p>
                    </div>
                </a>
            </li>
        </ul><!-- //careers-zoom-list -->
    </div><!-- //careers-zoom-list-wrap -->
    <div id="zoomPagination" class="careers-zoom-pagination"></div>
    <script type="text/javascript" src="../../js/jquery.event.drag-1.5.1.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.touchSlider.js"></script>
	<script type="text/javascript" src="../../js/zoom-in.js"></script>
</div>
